<main class="container">
    <div class="bg-light p-5 rounded">
      <h1>E-İHALE </h1>
      <p class="lead">E-ihale nedir? E-ihale girişi nasıl yapılır? Şeklindeki sorular vatandaşlar tarafından araştırılıyor. Ticaret Bakanlığı gümrüğe takılan yüzlerce aracın e-ihale yöntemiyle satışa sunulacağını duyurmasının ardından e-ihale'ye ziyaret arttı.

        E-İHALE GİRİŞİ NASIL YAPILIR?
        
        www.eihale.gov.tr adresi üzerinden, Üye ol butonu yardımıyla sisteme girişte kullanacağınız kullanıcınızı oluşturarak E-İhale sistemini kullanmaya başlayabilirsiniz.
        
        E-devlet üzerinden de TC Kimlik numaranızı ve şifrenizi girerek sisteme giriş yapabilirsiniz.
        
        İhale başlangıç bedeli araçlar için satışa esas bedelin yüzde 75’idir.
        
        İhaleye yönelik şartlar okunarak satın alma işlemleri gerçekleştiriliyor. Ayrıca sadece şase veya karoseri kalmış olan araçları da alarak sıfır araba almak için hurda indirimi avantajı sağlanabiliyor.
        
        
        Beğenilen arabanın ekspertiz raporuna bakmayı ya da görme imkanı varsa arabayı gidip görmenizde fayda var.
        
        E-İHALE NEDİR?
        
        E-İhale, Elektronik İhale veya Online İhale sistemi B2B alanında kullanılan bir satınalma yöntemidir. Bir Alıcı şirketin ve ona mal veya hizmet satmak isteyen birden çok şirketin olduğu durumlarda kullanılır.</p>
      
    </div>
  </main>
  
  