<!-- <h3>tender</h3>

<table>
    <tr>
        <td>tender id-</td>
        <br><br>
        <td>category id-</td>
        <br><br>
        <td>price</td>
    </tr>
    <tr *ngFor="let tender of tenders">
        <td>{{tender.tenderId}}</td>
        <br><br>
        <td>{{tender.categoryId}}</td>
        <br><br>
        <td>{{tender.price}}</td>
    </tr>
</table> -->

<div
    class="col-12 col-sm-11 col-md-9 col-lg-5 col-xl-4"
    *ngFor="let tender of tenders "
    style="width: 15rem; padding: 5px; margin: 5px"
>
    <li class="list-group-item">
        <b>Price:</b
        ><span style="float: right"> {{ tender.price }}</span>
    </li>
    <li class="list-group-item">
        <b>category id:</b><span style="float: right">{{ tender.categoryId }}</span>
    </li>