<div class="container">
  <div class="row">
    <div class="col-md-2">

      <app-category-filter></app-category-filter>

    </div>

    <div class="col-md-10">
      <div class="row" id="ads">
        <div class="col-12 col-sm-11 col-md-9 col-lg-5 col-xl-4" *ngFor="let tender of tenders "
          style="width: 15rem; padding: 5px; margin: 5px">
          <div class="card mb-4 mr-4">
            <div class="card rounded">
              <img src="{{ imageBasePath }}{{ getImage(tender) }}" class="card-img-top" alt="" />
              <div class="card-image-overlay m-auto">
                <ul class="list-group list-group-flush">

                  <li class="list-group-item">
                    <b>İş Adı: </b><span style="float: right"> {{ tender.job }}</span>
                  </li>
                  <li class="list-group-item">
                    <b>Kurum Adı:</b><span style="float: right">{{ tender.corparation }}</span>
                  </li>

                  <li class="list-group-item">
                    <b>Fiyat:</b><span style="float: right">{{ tender.price }}
                    </span>
                  </li>
                </ul>
              </div>
              <div class="card-body text-center">
                <div class="ad-title text-center">
                  <h5>{{tender.job}} </h5>
                </div>
                <div class="d-grid gap-5">
                  <section class="d-grid gap-2">
                    <button routerLink="/bids" type="button" class="btn btn-danger">
                      Teklif Ver
                    </button>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>