<div class="container">
    <div class="row">
      <div *ngFor="let image of images; index as i" class="col-md-12">
        <div class="card text-center" style="width: 30rem">
          <img
            [src]="apiUrl + image.imagePath"
            style="object-fit: contain"
            alt="..."
          />
          <div class="card-body">
            <button (click)="deleteImage(image)" class="btn btn-danger">
              Delete
            </button>
          </div>
        </div>
      </div>
      </div>
      <br>
      <div class="row">
      <div *ngIf="images.length !== 5" class="col-md-12">
        <div class="card text-center" style="width: 30rem">
         
          <h5>İhale Resmi Seçiniz</h5>
          <div class="card-body">
            <form [formGroup]="addImageForm">
              <div class="form-group">
                <input
                  formControlName="file"
                  (change)="onFileChange($event)"
                  class="form-control"
                  type="file"
                  id="formFile"
                />
              </div>
            </form>
          </div>
          <div class="card-footer">
             
            <button (click)="addImage(currentTenderId)" class="btn btn-success">
              Add
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
