

    <div class="container">
        <div class="card card-container" >
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form [formGroup]="loginForm" class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" formControlName="email" class="form-control" placeholder="E-mail" required autofocus>
                <input type="password" formControlName="password" id="inputPassword" class="form-control" placeholder="Parola" required>
                
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="login()">Giriş Yap</button>
            </form>
           
        </div>
    </div>

